In [16]:
%matplotlib inline
from sklearn import datasets
from sklearn.model_selection import cross_validate, cross_val_score, GridSearchCV, train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, GradientBoostingClassifier
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn

In [17]:
df = pd.read_csv('1_learn.csv')
df.head()

        1       2       3       4       5       6       7       8    9
0  1.5608  2.2600 -1.0763 -0.2405 -0.1869 -2.1011 -0.6871  0.7435  1.0
1 -2.4527  1.0281  0.7282 -0.0948 -1.8877 -3.4541  2.1788 -1.0474  0.0
2  0.4913 -0.4768  1.7335  1.4955 -0.8472 -1.5714 -2.6364  2.6504  1.0
3  1.8009  0.7695 -1.6928 -1.5888  0.6182  0.7736 -0.6760 -0.2973  0.0
4 -1.8783 -2.0947  0.7011  0.0201 -0.9538 -0.1743 -0.4643  0.8295  0.0

In [18]:
X = df.iloc[:,:8]
X.head()

        1       2       3       4       5       6       7       8
0  1.5608  2.2600 -1.0763 -0.2405 -0.1869 -2.1011 -0.6871  0.7435
1 -2.4527  1.0281  0.7282 -0.0948 -1.8877 -3.4541  2.1788 -1.0474
2  0.4913 -0.4768  1.7335  1.4955 -0.8472 -1.5714 -2.6364  2.6504
3  1.8009  0.7695 -1.6928 -1.5888  0.6182  0.7736 -0.6760 -0.2973
4 -1.8783 -2.0947  0.7011  0.0201 -0.9538 -0.1743 -0.4643  0.8295

In [19]:
y = df.iloc[:,8:]
y.head()

     9
0  1.0
1  0.0
2  1.0
3  0.0
4  0.0

In [20]:
X_train, X_holdout, y_train, y_holdout = train_test_split(X.values, y.values, test_size=0.3, random_state=17)

In [32]:
forest = RandomForestClassifier(n_estimators = 1000, max_depth = 16)
print(np.mean(cross_val_score(forest, X_train, y_train, cv=5))) # 0.949

C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.8771506563745964

In [ ]:
%%time
forest_params = {'max_depth': range(1,11)}

forest_grid = GridSearchCV(forest, forest_params, cv=5, n_jobs=-1, verbose=True)

forest_grid.fit(X_train, y_train)

forest_grid.best_params_, forest_grid.best_score_ # ({'max_depth': 9, 'max_features': 6}, 0.951)

#accuracy_score(y_holdout, forest_grid.predict(X_holdout)) # 0.953

In [ ]:
df1 = pd.read_csv('1_check.csv')
df1.head()

In [ ]:
forest = RandomForestClassifier(n_estimators=19, max_depth = 9, n_jobs=-1, random_state=17)
forest.fit(X, y)
ans = forest.predict(df1.values)

In [ ]:
def write_answer_to_file(answer, filename):
    with open(filename, 'w') as f_out:
        f_out.write("1\n")
        for item in answer:
            f_out.write("%s\n" %item)

In [ ]:
write_answer_to_file(ans, 'answer.txt')